<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>{% block title %}Página Principal{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'estados_de_la_republica/css/main.css' %}">
</head>
<body>
    <header>
        <h1>Bienvenido a la Aplicación de Estados y Municipios</h1>
    </header>
    
    <main>
        {% block content %}
        <!-- Contenido de las páginas hijas -->
        {% endblock %}
    </main>
    <script src="{% static 'estados_de_la_republica/js/script.js' %}"></script>
</body>
</html>
